openapi: 3.2.0
info:
  title: Bench Projects Phases API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: ProjectsPhases
paths:
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/phases:
    get:
      tags:
      - ProjectsPhases
      summary: Gets all phases on the given project
      description: 'Permissions

        Project: Read'
      operationId: ProjectsPhases_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - ProjectsPhases
      summary: Adds a phase to the given project
      description: 'You must specify "id", "startDate" and "endDate" of any phase for this endpoint.

        Permissions

        Project: Write'
      operationId: ProjectsPhases_Add
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Phases to be added to the account
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ProjectPhaseRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPhaseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectPhaseRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectPhaseRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProjectPhaseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPhaseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectPhaseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict - Phase already exists on the project
        '422':
          description: Unprocessable Entity - Phase start or end dates outside of project start or end date
    delete:
      tags:
      - ProjectsPhases
      summary: Deletes phases from the given project
      operationId: ProjectsPhases_BulkDelete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The Phase IDs
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/phases/bulk:
    post:
      tags:
      - ProjectsPhases
      summary: Adds phases to the given project
      description: 'You must specify "id", "startDate" and "endDate" of any phase for this endpoint.

        Permissions

        Project: Write'
      operationId: ProjectsPhases_BulkAdd
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Array of phases to be added to the account
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ProjectPhaseRequest'
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ProjectPhaseRequest'
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ProjectPhaseRequest'
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ProjectPhaseRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict - Phase already exists on the project
        '422':
          description: Unprocessable Entity - Phase start or end dates outside of project start or end date
    put:
      tags:
      - ProjectsPhases
      summary: Updates multiple phases on the given project
      description: 'This endpoint will only update the fields that are present in the request.


        You must specify "id", "startDate" and/or "endDate" of the phases for this endpoint.


        If the "shiftDates" property is true and you specify a changed phase start or end date in this request,

        then the phase''s start and end dates will be adjusted by the same amount.

        If this property is set to true, then you must only send EITHER startDate OR endDate - only startDate is considered when both dates are set.


        Permissions

        Project: Write'
      operationId: ProjectsPhases_BulkUpdate
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: New start and end date for the phase from the request body
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ProjectPhaseUpdateRequest'
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ProjectPhaseUpdateRequest'
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ProjectPhaseUpdateRequest'
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/ProjectPhaseUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectPhaseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity - Phase start or end dates outside of project start or end date
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/phases/{phaseId}:
    put:
      tags:
      - ProjectsPhases
      summary: Updates a phase on the given project
      description: 'This endpoint will only update the fields that are present in the request.


        You must specify "startDate" and/or "endDate" for this endpoint.


        If the "shiftDates" property is true and you specify a changed phase start or end date in this request,

        then the phase''s start and end dates will be adjusted by the same amount.


        If this property is set to true, then you must only send EITHER startDate OR endDate - only startDate is considered when both dates are set.


        Permissions

        Project: Write'
      operationId: ProjectsPhases_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      - name: phaseId
        in: path
        description: The Phase ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: New start and end date for the phase from the request body
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ProjectPhaseFromRouteRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPhaseFromRouteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectPhaseFromRouteRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectPhaseFromRouteRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProjectPhaseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPhaseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectPhaseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity - Phase start or end dates outside of project start or end date
    delete:
      tags:
      - ProjectsPhases
      summary: Deletes a phase from the given project
      operationId: ProjectsPhases_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      - name: phaseId
        in: path
        description: The Phase ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    ProjectPhaseFromRouteRequest:
      type: object
      properties:
        startDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-01-01'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-12-31'
        shiftDates:
          type: boolean
      additionalProperties: false
    ProjectPhaseUpdateRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234
        startDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-01-01'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-12-31'
        shiftDates:
          type: boolean
      additionalProperties: false
    ProjectPhaseResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234
        name:
          type:
          - string
          - 'null'
          example: Pre-Construction
        startDate:
          type: string
          format: date-time
          example: '2020-01-01'
        endDate:
          type: string
          format: date-time
          example: '2020-12-31'
        lastModifiedOn:
          type: string
          format: date-time
          example: '2021-05-27T10:58:23.530Z'
      additionalProperties: false
    ProjectPhaseRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234
        startDate:
          type: string
          format: date-time
          example: '2020-01-01'
        endDate:
          type: string
          format: date-time
          example: '2020-12-31'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
