openapi: 3.0.4
info:
  title: Bench AccountActivities API
  description: "<h2>Versioning</h2>\n<p>\n    The API is currently at version <code>1.0</code>. All API endpoints (other than\n    authentication) require you to specify the API version as part of the path.\n</p>\n\n<h2>URL Paths</h2>\n<p>\n    Authentication requests should be made to <code>/auth/signin</code>,\n    as documented below. All other API requests should be made to\n    sub-paths of <code>/rp/api/1.0/...</code>.\n</p>\n\n<h2>Authentication</h2>\n<p>\n    API requests are authenticated using an OAuth Bearer token.\n    You can get a token by authenticating your user by sending a\n    POST request to <code>/auth/signin</code>, with \"username and \"password\"\n    parameters form-encoded in the body of the request.\n\n    POST /auth/signin HTTP/1.1\n    Content-Type: application/x-www-form-urlencoded\n\n    username=user@example.com&password=some-secret-password\n</p>\n<p>\n    The response will be a JSON object including both\n    <b>\"access_token\"</b> and <b>\"refresh_token\"</b> property.\n    All other requests against the Bench API should include an\n    authorization header: <code>Authorization: Bearer xxxYYYzzz</code>,\n    where <b>xxxYYYzzz</b> is the value of <b>\"access_token\"</b> in the response.\n    <br><br>\n    For example:\n\n    $ curl https://bench.gobridgit.com/auth/signin -H 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'username=someone@example.com' --data-urlencode 'password=[...snip...]'\n    {\n        \"access_token\": \"...snip...\",\n        \"token_type\": \"Bearer\",\n        \"refresh_token\": \"...snip...\"\n        \"expiry\": \"2020-01-01T00:00:00.413440849Z\"\n    }\n\n</p>\n\n<p>\n    The refresh token can be used to generate new session by request with <code>/auth/token</code> endpoint:\n\n    POST /auth/token HTTP/1.1\n    Content-Type: application/x-www-form-urlencoded\n\n    grant_type=refresh_token&refresh_token=tGzv3JOkF0XG5Qx2TlKWIA\n</p>\n<p>\n    Note that once the refresh token is used, the previous access and refresh token is no longer valid.\n    <br><br>\n    For example:\n\n    $ curl https://bench.gobridgit.com/auth/token -H 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'grant_type=refresh_token' --data-urlencode 'refresh_token=[...snip...]'\n    {\n        \"access_token\": \"...snip...\",\n        \"token_type\": \"Bearer\",\n        \"refresh_token\": \"...snip...\"\n        \"expiry\": \"2020-01-01T00:00:00.413440849Z\"\n    }\n</p>\n\n<h2>Pagination</h2>\n<p>\n    Several of the API endpoints are paginated. These are denoted by\n    including the <code>offset</code> (zero-based offset) and <code>limit</code> query\n    parameters. For example, to request the <code>10</code> items,\n    set the <code>offset=0</code> to <code>limit=10</code>.\n    <br>\n    NOTE: the result set contains items with index of 0-9\n    <br>\n    To request the next 10 items (starting at index 10),\n    set the <code>offset=10</code> to <code>limit=10</code>\n</p>\n<p>\n    Responses to paginated API endpoints return a JSON array of objects.\n    If there are results beyond the page you have requested, the server\n    will set a <code>query-has-more: true</code> header in the response.\n</p>\n\n<h2>Request Encoding</h2>\n<p>\n    <code>GET</code> and <code>DELETE</code> requests should have parameters encoded as URL query\n    parameters. Boolean values should be encoded as <code>true</code> and\n    <code>false</code>, not as <code>1</code> and <code>0</code>.\n</p>\n\n<h2>Errors</h2>\n<p>\n    Errors are returned for some response codes such as <code>400 Bad Request</code> in the\n    following format:\n\n    {\n      \"errors\": [\n        {\n          \"errorType\": \"ValidationError\",\n          \"description\": \"The value of Name must be a string with a minimum length of 1 and a maximum length of 8 and not whitespace.\",\n          \"field\": \"Name\",\n          \"values\": [\n            null\n          ]\n        }\n      ],\n      \"title\": \"One or more validation errors occurred.\",\n      \"status\": 400,\n      \"instance\": \"api/v1/accounts/0/persons\",\n      \"requestUid\": \"123e4567-e89b-12d3-a456-426614174000\"\n    }\n</p>\n"
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: AccountActivities
paths:
  /rp/api/v1/accounts/{accountId}/activities/_filter:
    post:
      tags:
      - AccountActivities
      summary: Retrieves activity logs for the specified account with optional filtering and pagination.
      description: 'This endpoint returns a paginated list of activities that occurred within the account. The results can be filtered by:

        - Person IDs (maximum 10)

        - Project IDs (maximum 10)

        - Date range (happenedFrom and happenedTo)

        - User IDs who triggered the events (maximum 10)

        - Activity types (maximum 25)


        Note: Either PersonIds or ProjectIds can be specified, but not both simultaneously.


        The response includes a `query-has-more` header indicating whether additional records are available beyond the current page.<br/><strong>Permissions</strong><br/>Private: Read<br/>Finance: Read<br/>Person: Read<br/>HourlyProfile: Read<br/>Project: Read<br/>Communication: Read<br/>Role: Read<br/>HourlyRole: Read<br/>Allocation: Read<br/>HourlyAllocation: Read<br/>Settings: Read'
      operationId: AccountActivities_Filter
      parameters:
      - name: accountId
        in: path
        description: The account ID (must be greater than zero)
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: "The filter criteria containing:\n- offset: Starting position for pagination (default: 0, must be non-negative)\n- limit: Maximum number of records to return (default: 25, range: 1-50)\n- predicates: Optional filtering predicates including:\n  - personIds: Array of person IDs to filter by (max 50 items)\n  - projectIds: Array of project IDs to filter by (max 10 items)\n  - happenedFrom: Start date for filtering events (optional, range: 1900-01-01 to 2100-01-01)\n  - happenedTo: End date for filtering events (optional, range: 1900-01-01 to 2100-01-01, must be after happenedFrom if both provided)\n  - triggeredByUserIds: Array of user IDs who triggered the events (max 10 items)\n  - activityTypes: Array of activity type strings (max 25 items)\n  - triggeredByIntegrations: Boolean to include activities triggered by integrations (default: true)\n  - triggeredByUsers: Boolean to include activities triggered by users (default: true)\n  - groupingIds: Array of grouping IDs to filter by"
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ActivitiesFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/ActivitiesFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/ActivitiesFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ActivitiesFilter'
      responses:
        '200':
          description: Successfully retrieved the activity logs. The response includes a `query-has-more` header indicating if more records are available.
          headers:
            query-has-more:
              description: Query has more resources beyond the pagination requested
              schema:
                type: boolean
                description: Query has more resources beyond the pagination requested
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityResponse'
        '400':
          description: Bad Request - Invalid filter parameters or validation errors (e.g., invalid date range, too many filter values, invalid activity type format)
        '401':
          description: Unauthorized - Authentication token is missing or invalid
        '403':
          description: Forbidden - User does not have required permissions or account access
components:
  schemas:
    ActivitiesFilterPredicates:
      type: object
      properties:
        personIds:
          maxItems: 10
          type: array
          items:
            type: integer
            format: int64
          nullable: true
        projectIds:
          maxItems: 10
          type: array
          items:
            type: integer
            format: int64
          nullable: true
        happenedFrom:
          type: string
          format: date-time
          nullable: true
        happenedTo:
          type: string
          format: date-time
          nullable: true
        triggeredByUserIds:
          maxItems: 50
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        activityTypes:
          maxItems: 25
          type: array
          items:
            type: string
          nullable: true
        triggeredByIntegrations:
          type: boolean
        triggeredByUsers:
          type: boolean
        groupingIds:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
        includeBlankGroupIds:
          type: boolean
        activityTypeSearch:
          maxLength: 100
          type: string
          nullable: true
      additionalProperties: false
    ActivityResponse:
      type: object
      properties:
        happenedOn:
          type: string
          format: date-time
        triggeredByUserId:
          type: integer
          format: int64
        triggeredByUserName:
          type: string
          nullable: true
        activityType:
          type: string
          nullable: true
        personId:
          type: integer
          format: int64
          nullable: true
        projectId:
          type: integer
          format: int64
          nullable: true
        roleId:
          type: integer
          format: int64
          nullable: true
        payload:
          nullable: true
        diff:
          nullable: true
        triggeredByUserType:
          enum:
          - Member
          - ServiceAccount
          type: string
        groupingIds:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
      additionalProperties: false
    ActivitiesFilter:
      type: object
      properties:
        offset:
          type: integer
          format: int32
        limit:
          maximum: 50
          minimum: 1
          type: integer
          format: int32
        predicates:
          $ref: '#/components/schemas/ActivitiesFilterPredicates'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
