openapi: 3.2.0
info:
  title: Bench Person Historical Experiences API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: PersonHistoricalExperiences
paths:
  /rp/api/v1/accounts/{accountId}/persons/{personId}/historical-experiences:
    get:
      tags:
      - PersonHistoricalExperiences
      summary: List historical experience entries for a person
      description: 'Permissions

        Person: Read'
      operationId: PersonHistoricalExperiences_GetAll
      parameters:
      - name: accountId
        in: path
        description: The account ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: How many to retrieve (1-100, default 50).
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        description: How many to skip (default 0).
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: The paginated list of historical experience entries. The `query-has-more` header indicates whether more entries are available.
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
        '403':
          description: The user is not authorized to view the historical experience entries.
    post:
      tags:
      - PersonHistoricalExperiences
      summary: Create a new historical experience entry
      description: 'Permissions

        Account: Write'
      operationId: PersonHistoricalExperiences_Post
      parameters:
      - name: accountId
        in: path
        description: The account ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The historical experience request.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceRequest'
        required: true
      responses:
        '201':
          description: The created historical experience entry.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFullEntry'
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFullEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFullEntry'
        '403':
          description: The user is not authorized to create the historical experience entry.
        '422':
          description: The request is invalid.
  /rp/api/v1/accounts/{accountId}/persons/{personId}/historical-experiences/{historicalExperienceId}:
    get:
      tags:
      - PersonHistoricalExperiences
      summary: Get a single historical experience entry
      description: 'Permissions

        Person: Read'
      operationId: PersonHistoricalExperiences_GetOne
      parameters:
      - name: accountId
        in: path
        description: The account ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: historicalExperienceId
        in: path
        description: The historical experience ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
        '200':
          description: The historical experience entry.
        '403':
          description: The user is not authorized to view the historical experience entry.
    delete:
      tags:
      - PersonHistoricalExperiences
      summary: Delete a historical experience entry
      description: 'Permissions

        Account: Write'
      operationId: PersonHistoricalExperiences_Delete
      parameters:
      - name: accountId
        in: path
        description: The account ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: historicalExperienceId
        in: path
        description: The historical experience ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The historical experience entry was deleted.
        '403':
          description: The user is not authorized to delete the historical experience entry.
    put:
      tags:
      - PersonHistoricalExperiences
      summary: Update historical experience entry for a person
      description: 'Permissions

        Account: Write'
      operationId: PersonHistoricalExperiences_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: historicalExperienceId
        in: path
        description: The Historical Experience ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The Historical Experience Update Request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceUpdateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    patch:
      tags:
      - PersonHistoricalExperiences
      summary: Patch historical experience entry for a person
      description: 'Permissions

        Account: Write'
      operationId: PersonHistoricalExperiences_Patch
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: historicalExperienceId
        in: path
        description: The Historical Experience ID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The Historical Experience Patch Request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperiencePatchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperiencePatchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperiencePatchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperiencePatchRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceEntryWithExperienceFields'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
components:
  schemas:
    HistoricalExperiencePatchRequest:
      type: object
      properties:
        roleName:
          type:
          - string
          - 'null'
        assignmentStartDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentEndDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentDuration:
          type:
          - integer
          - 'null'
          format: int32
        assignmentHours:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    HistoricalExperienceFieldValueRequest:
      type: object
      properties:
        experienceFieldId:
          type: string
          format: uuid
        experienceFieldValueId:
          type:
          - string
          - 'null'
          format: uuid
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    HistoricalExperienceUpdateRequest:
      required:
      - experienceFields
      - roleName
      type: object
      properties:
        roleName:
          type:
          - string
          - 'null'
        experienceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HistoricalExperienceFieldValueRequest'
        assignmentStartDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentEndDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentDuration:
          type:
          - integer
          - 'null'
          format: int32
        assignmentHours:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    HistoricalExperienceEntryWithExperienceFields:
      required:
      - roleName
      type: object
      properties:
        experienceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HistoricalExperienceFieldValue'
        historicalExperienceId:
          type: string
          format: uuid
        roleName:
          type:
          - string
          - 'null'
        currentCompany:
          type: boolean
        assignmentStartDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentEndDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentDuration:
          type: integer
          format: int32
        assignmentHours:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    HistoricalExperienceFieldValue:
      required:
      - fieldName
      - value
      type: object
      properties:
        experienceFieldId:
          type: string
          format: uuid
        experienceFieldValueId:
          type: string
          format: uuid
        fieldName:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    HistoricalExperienceFullEntry:
      required:
      - projectName
      - roleName
      type: object
      properties:
        historicalProjectId:
          type: string
          format: uuid
        projectName:
          type:
          - string
          - 'null'
        projectDescription:
          type:
          - string
          - 'null'
        projectStartDate:
          type:
          - string
          - 'null'
          format: date-time
        projectEndDate:
          type:
          - string
          - 'null'
          format: date-time
        companyName:
          type:
          - string
          - 'null'
        experienceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HistoricalExperienceFieldValue'
          description: "List of experience fields for this historical experience entry.\n            \nNote that you should avoid touching this property directly and use the `ExperienceFieldsDict` property instead.\nThis property is only here to provide a JSON representation of the experience fields.\nThe dictionary version is more useful in most cases."
        historicalExperienceId:
          type: string
          format: uuid
        roleName:
          type:
          - string
          - 'null'
        currentCompany:
          type: boolean
        assignmentStartDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentEndDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentDuration:
          type: integer
          format: int32
        assignmentHours:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    HistoricalExperienceRequest:
      required:
      - projectName
      - roleName
      type: object
      properties:
        projectName:
          type:
          - string
          - 'null'
        projectStartDate:
          type:
          - string
          - 'null'
          format: date-time
        projectEndDate:
          type:
          - string
          - 'null'
          format: date-time
        roleName:
          type:
          - string
          - 'null'
        currentCompany:
          type: boolean
        experienceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HistoricalExperienceFieldValueRequest'
        projectDescription:
          type:
          - string
          - 'null'
        companyName:
          type:
          - string
          - 'null'
        assignmentStartDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentEndDate:
          type:
          - string
          - 'null'
          format: date-time
        assignmentDuration:
          type:
          - integer
          - 'null'
          format: int32
        assignmentHours:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
