openapi: 3.2.0
info:
  title: Bench Person Profile API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: PersonProfile
paths:
  /rp/api/v1/accounts/{accountId}/persons/{personId}/profile-picture:
    put:
      tags:
      - PersonProfile
      summary: Updates a person's profile picture with support for upload and set modes
      description: 'Two modes of operation:


        1. Upload Mode: When no request body is provided, returns a presigned URL for direct image upload to S3. Use a PUT request to upload your image file to the returned signed URL.


        2. Set Mode: When a request body with ImageUrl is provided, sets the profile picture to the specified URL

        Permissions

        Person: Write

        HourlyProfile: Write'
      operationId: PersonProfile_Put
      parameters:
      - name: accountId
        in: path
        description: The unique identifier of the account
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The unique identifier of the person
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: 'The profile picture request. Can be null for upload mode or contain an ImageUrl for set mode.

          When null, generates a presigned upload URL. When provided, sets the profile picture to the specified URL.'
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ProfilePicture'
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePicture'
          text/json:
            schema:
              $ref: '#/components/schemas/ProfilePicture'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProfilePicture'
      responses:
        '200':
          description: Success - Profile picture updated or upload URL generated
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProfilePicture'
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePicture'
            text/json:
              schema:
                $ref: '#/components/schemas/ProfilePicture'
        '400':
          description: Bad Request - Invalid parameters or request format
        '401':
          description: Unauthorized - User is not authenticated
        '403':
          description: Forbidden - User lacks required permissions or resource not found
        '422':
          description: Unprocessable Entity - Unable to process the profile image (e.g., invalid format, upload failure)
    delete:
      tags:
      - PersonProfile
      summary: Clear a person's profile picture
      description: 'Permissions

        Person: Write

        HourlyProfile: Write'
      operationId: PersonProfile_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content (success)
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - User doesn't have permissions on this resource, or the account or person couldn't be found
components:
  schemas:
    ProfilePicture:
      type: object
      properties:
        ImageUrl:
          type:
          - string
          - 'null'
          example: https://example.com/images/image.png
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
