openapi: 3.2.0
info:
  title: Bench Project Role Categories API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: ProjectRoleCategories
paths:
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/role-categories:
    get:
      tags:
      - ProjectRoleCategories
      summary: Gets categories on the given account's project
      description: 'Permissions

        Role: Read

        HourlyRole: Read'
      operationId: ProjectRoleCategories_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID to get categories from
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - ProjectRoleCategories
      summary: Adds a category on the given account's project
      description: 'You must be able to manage salaried OR hourly roles.

        Permissions

        Role: Write

        HourlyRole: Write'
      operationId: ProjectRoleCategories_Add
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID to add the category to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Request object that contains a list of categories.
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/NewRoleCategoryRequest'
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/NewRoleCategoryRequest'
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/NewRoleCategoryRequest'
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/NewRoleCategoryRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity - Limit for for number of categories reached, or name is too long.
    put:
      tags:
      - ProjectRoleCategories
      summary: Bulk update categories on the given account's project
      description: 'NOTE: The category name must not be greater than 100 characters.

        Permissions

        Role: Write

        HourlyRole: Write'
      operationId: ProjectRoleCategories_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID to add the category to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Request object that contains a list of categories.
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/UpdateRoleCategoryRequest'
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/UpdateRoleCategoryRequest'
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/UpdateRoleCategoryRequest'
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/UpdateRoleCategoryRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleCategoryResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity - Limit for for number of categories reached, or name is too long.
    delete:
      tags:
      - ProjectRoleCategories
      summary: Removes categories on the given account's project
      description: 'You must be able to manage salaried OR hourly roles.

        Permissions

        Role: Write

        HourlyRole: Write'
      operationId: ProjectRoleCategories_Remove
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID to delete the categories from
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Request object that contains an array of category IDs for removal.
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '204':
          description: No Content - Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    RoleCategoryResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 134
        name:
          type:
          - string
          - 'null'
          example: North Tower
      additionalProperties: false
    UpdateRoleCategoryRequest:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          minLength: 1
          type: string
          example: North Tower
      additionalProperties: false
    NewRoleCategoryRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: North Tower
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
