openapi: 3.2.0
info:
  title: Bench Account Activities API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: AccountActivities
paths:
  /rp/api/v1/accounts/{accountId}/activities/_filter:
    post:
      tags:
      - AccountActivities
      summary: Retrieves activity logs for the specified account with optional filtering and…
      description: 'This endpoint returns a paginated list of activities that occurred within the account. The results can be filtered by:

        - Person IDs (maximum 10)

        - Project IDs (maximum 10)

        - Date range (happenedFrom and happenedTo)

        - User IDs who triggered the events (maximum 10)

        - Activity types (maximum 25)


        Note: Either PersonIds or ProjectIds can be specified, but not both simultaneously.


        The response includes a `query-has-more` header indicating whether additional records are available beyond the current page.

        Permissions

        Private: Read

        Finance: Read

        Person: Read

        HourlyProfile: Read

        Project: Read

        Communication: Read

        Role: Read

        HourlyRole: Read

        Allocation: Read

        HourlyAllocation: Read

        Settings: Read'
      operationId: AccountActivities_Filter
      parameters:
      - name: accountId
        in: path
        description: The account ID (must be greater than zero)
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: "The filter criteria containing:\n- offset: Starting position for pagination (default: 0, must be non-negative)\n- limit: Maximum number of records to return (default: 25, range: 1-50)\n- predicates: Optional filtering predicates including:\n  - personIds: Array of person IDs to filter by (max 50 items)\n  - projectIds: Array of project IDs to filter by (max 10 items)\n  - happenedFrom: Start date for filtering events (optional, range: 1900-01-01 to 2100-01-01)\n  - happenedTo: End date for filtering events (optional, range: 1900-01-01 to 2100-01-01, must be after happenedFrom if both provided)\n  - triggeredByUserIds: Array of user IDs who triggered the events (max 10 items)\n  - activityTypes: Array of activity type strings (max 25 items)\n  - triggeredByIntegrations: Boolean to include activities triggered by integrations (default: true)\n  - triggeredByUsers: Boolean to include activities triggered by users (default: true)\n  - groupingIds: Array of grouping IDs to filter by"
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ActivitiesFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/ActivitiesFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/ActivitiesFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ActivitiesFilter'
      responses:
        '200':
          description: Successfully retrieved the activity logs. The response includes a `query-has-more` header indicating if more records are available.
          headers:
            query-has-more:
              description: Query has more resources beyond the pagination requested
              schema:
                type: boolean
                description: Query has more resources beyond the pagination requested
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityResponse'
        '400':
          description: Bad Request - Invalid filter parameters or validation errors (e.g., invalid date range, too many filter values, invalid activity type format)
        '401':
          description: Unauthorized - Authentication token is missing or invalid
        '403':
          description: Forbidden - User does not have required permissions or account access
components:
  schemas:
    ActivitiesFilter:
      type: object
      properties:
        offset:
          type: integer
          format: int32
        limit:
          maximum: 50
          minimum: 1
          type: integer
          format: int32
        predicates:
          $ref: '#/components/schemas/ActivitiesFilterPredicates'
      additionalProperties: false
    ActivitiesFilterPredicates:
      type: object
      properties:
        personIds:
          maxItems: 10
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        projectIds:
          maxItems: 10
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        happenedFrom:
          type:
          - string
          - 'null'
          format: date-time
        happenedTo:
          type:
          - string
          - 'null'
          format: date-time
        triggeredByUserIds:
          maxItems: 50
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        activityTypes:
          maxItems: 25
          type:
          - array
          - 'null'
          items:
            type: string
        triggeredByIntegrations:
          type: boolean
        triggeredByUsers:
          type: boolean
        groupingIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        includeBlankGroupIds:
          type: boolean
        activityTypeSearch:
          maxLength: 100
          type:
          - string
          - 'null'
      additionalProperties: false
    ActivityResponse:
      type: object
      properties:
        happenedOn:
          type: string
          format: date-time
        triggeredByUserId:
          type: integer
          format: int64
        triggeredByUserName:
          type:
          - string
          - 'null'
        activityType:
          type:
          - string
          - 'null'
        personId:
          type:
          - integer
          - 'null'
          format: int64
        projectId:
          type:
          - integer
          - 'null'
          format: int64
        roleId:
          type:
          - integer
          - 'null'
          format: int64
        payload: {}
        diff: {}
        triggeredByUserType:
          enum:
          - Member
          - ServiceAccount
          type: string
        groupingIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
