openapi: 3.2.0
info:
  title: Bench Project Workforce Spend Reports API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: ProjectWorkforceSpendReports
paths:
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/workforce-spend-reports/hours-breakdown:
    post:
      tags:
      - ProjectWorkforceSpendReports
      summary: Get the workforce spend reports (salaried only) on hours with breakdown…
      description: 'NOTE: If there are more workforce spend reports in the project than were returned, there will be a "query-has-more" header that will be set to true.

        Permissions

        Project: Read

        Person: Read

        Role: Read'
      operationId: ProjectWorkforceSpendReports_GetWorkforceSpendReportsBreakdownHours
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID the workforce belongs to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The request information for the workforce spend reports on hours with breakdown
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BreakdownRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/BreakdownRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BreakdownRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BreakdownRequest'
        required: true
      responses:
        '200':
          description: 'Success: Workforce spend hours breakdown in the project in the account'
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HoursBreakdownResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/HoursBreakdownResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HoursBreakdownResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/workforce-spend-reports/hours-overview:
    post:
      tags:
      - ProjectWorkforceSpendReports
      summary: Get the workforce spend reports (salaried only) on hours with overview on…
      description: 'NOTE: If there are more workforce spend reports in the project than were returned, there will be a "query-has-more" header that will be set to true.

        Permissions

        Project: Read

        Person: Read

        Role: Read'
      operationId: ProjectWorkforceSpendReports_GetWorkforceSpendReportsOverviewHours
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID the workforce belongs to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The request information for the workforce spend reports on hours with overview
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OverviewRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OverviewRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OverviewRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OverviewRequest'
        required: true
      responses:
        '200':
          description: 'Success: Workforce spend hours overview in the project in the account'
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HoursOverviewResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/HoursOverviewResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HoursOverviewResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    PeriodWorkforceSpendHoursBreakdown:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        personWorkforceSpendHoursBreakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PersonWorkforceSpendHoursBreakdown'
        periodWorkforceSpendHoursFilled:
          type: integer
          format: int64
        periodWorkforceSpendHoursUnfilled:
          type: integer
          format: int64
        periodWorkforceSpendHoursTotal:
          type: integer
          format: int64
      additionalProperties: false
    RoleWorkforceSpendHoursBreakdown:
      type: object
      properties:
        roleNameId:
          type: integer
          format: int64
        roleName:
          type:
          - string
          - 'null'
        workforceSpendHoursFilled:
          type: integer
          format: int64
        workforceSpendHoursUnfilled:
          type: integer
          format: int64
        workforceSpendHoursTotal:
          type: integer
          format: int64
        periodWorkforceSpendHoursBreakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PeriodWorkforceSpendHoursBreakdown'
      additionalProperties: false
    PersonWorkforceSpendHoursOverview:
      type: object
      properties:
        personId:
          type: integer
          format: int64
        personName:
          type:
          - string
          - 'null'
        personElapsedHours:
          type: integer
          format: int64
        personRemainderHours:
          type: integer
          format: int64
        personTotalHours:
          type: integer
          format: int64
      additionalProperties: false
    PersonWorkforceSpendHoursBreakdown:
      type: object
      properties:
        personId:
          type: integer
          format: int64
        personName:
          type:
          - string
          - 'null'
        personWorkforceSpendHours:
          type: integer
          format: int64
      additionalProperties: false
    BreakdownRequest:
      type: object
      properties:
        offset:
          type: integer
          format: int32
          example: 0
        limit:
          type: integer
          format: int32
          example: 1000
        startDate:
          type: string
          format: date-time
          example: '2020-01-01T00:00:00Z'
        endDate:
          type: string
          format: date-time
          example: '2021-12-31T00:00:00Z'
        period:
          enum:
          - Annual
          - Quarter
          - Month
          - Week
          type: string
          example: '0'
        bounded:
          type: boolean
          example: false
        roleNameIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          description: 'RoleNameIds to filter by. [] for all.

            <example>[1, 2, 3]</example>'
        roleType:
          enum:
          - Salaried
          - Hourly
          - All
          type: string
          description: RoleType to filter by. Salaried by default. Hourly is not supported.
        salariedRoleType:
          enum:
          - Operations
          - Preconstruction
          - All
          type: string
          description: SalariedRoleType to filter by. All by default.
        opsPreconFilter:
          enum:
          - 0
          - 1
          - 2
          - 3
          type: integer
          description: ResourcePlanning.Contracts.BreakdownRequest.OpsPreconFilter to filter by. ResourcePlanning.Contracts.OpsPreconFilter.OperationsPrecon by default.
          format: int32
      additionalProperties: false
    HoursOverviewResponse:
      type: object
      properties:
        workforceSpendHoursOverview:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RoleWorkforceSpendHoursOverview'
        totalWorkforceSpendHoursElapsed:
          type: integer
          format: int64
        totalWorkforceSpendHoursRemainder:
          type: integer
          format: int64
        totalWorkforceSpendHours:
          type: integer
          format: int64
      additionalProperties: false
    OverviewRequest:
      type: object
      properties:
        offset:
          type: integer
          format: int32
          example: 0
        limit:
          type: integer
          format: int32
          example: 1000
        startDate:
          type: string
          format: date-time
          example: '2020-01-01T00:00:00Z'
        endDate:
          type: string
          format: date-time
          example: '2021-12-31T00:00:00Z'
        relativeDate:
          type: string
          format: date-time
          example: '2020-08-01T00:00:00Z'
        roleNameIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          description: 'RoleNameIds to filter by. [] for all.

            <example>[1, 2, 3]</example>'
        roleType:
          enum:
          - Salaried
          - Hourly
          - All
          type: string
          description: RoleType to filter by. Salaried by default. Hourly is not supported.
        salariedRoleType:
          enum:
          - Operations
          - Preconstruction
          - All
          type: string
          description: SalariedRoleType to filter by. All by default.
        opsPreconFilter:
          enum:
          - 0
          - 1
          - 2
          - 3
          type: integer
          description: ResourcePlanning.Contracts.OverviewRequest.OpsPreconFilter to filter by. ResourcePlanning.Contracts.OpsPreconFilter.OperationsPrecon by default.
          format: int32
      additionalProperties: false
    HoursBreakdownResponse:
      type: object
      properties:
        workforceSpendHoursBreakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RoleWorkforceSpendHoursBreakdown'
        totalWorkforceSpendHoursFilled:
          type: integer
          format: int64
        totalWorkforceSpendHoursUnfilled:
          type: integer
          format: int64
        totalWorkforceSpendHours:
          type: integer
          format: int64
      additionalProperties: false
    RoleWorkforceSpendHoursOverview:
      type: object
      properties:
        roleNameId:
          type: integer
          format: int64
        roleName:
          type:
          - string
          - 'null'
        workforceSpendHoursElapsedFilled:
          type: integer
          format: int64
        workforceSpendHoursElapsedUnfilled:
          type: integer
          format: int64
        workforceSpendHoursRemainderFilled:
          type: integer
          format: int64
        workforceSpendHoursRemainderUnfilled:
          type: integer
          format: int64
        workforceSpendHoursElapsed:
          type: integer
          format: int64
        workforceSpendHoursRemainder:
          type: integer
          format: int64
        workforceSpendHoursTotal:
          type: integer
          format: int64
        personWorkforceSpendHoursOverview:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PersonWorkforceSpendHoursOverview'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
