openapi: 3.2.0
info:
  title: Bench Role Names API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: RoleNames
paths:
  /rp/api/v1/accounts/{accountId}/role-names:
    get:
      tags:
      - RoleNames
      summary: Get role names in the account
      description: 'Permissions

        Account: Read

        Finance: Read

        Role: Read'
      operationId: RoleNames_Get
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleNameResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleNameResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleNameResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - User doesn't have permissions on this resource, or the project couldn't be found
    post:
      tags:
      - RoleNames
      summary: Add/Update role name(s) in the account
      description: 'If "alphabetize" parameter flag is true, the role names should be alphabetically ordered by caller, otherwise in the order of the request.


        To add or update role names you must have permissions to manage account properties.

        Permissions

        Account: Write

        Role: Write'
      operationId: RoleNames_Post
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: alphabetize
        in: query
        description: Optional flag to set whether role names should be alphabetically ordered by the caller
        schema:
          type: boolean
          default: false
      requestBody:
        description: The role name detail
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/RoleNameRequest'
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/RoleNameRequest'
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/RoleNameRequest'
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/RoleNameRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleNameResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleNameResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleNameResponse'
        '400':
          description: Bad Request - Request has missing or invalid values
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - User doesn't have permissions on this resource, or the project couldn't be found
    delete:
      tags:
      - RoleNames
      summary: Remove role name(s) by ID in the account
      description: 'To remove role names you must have permissions to manage account properties.

        NOTE: The account must contain at least 1 role name.

        Permissions

        Account: Write

        Role: Write'
      operationId: RoleNames_Delete
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: The IDs of the role name to be removed
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '204':
          description: No Content - Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - User doesn't have permissions on this resource, or the project couldn't be found
        '422':
          description: Validation failed - if the role name is being used by any role, the name cannot be removed
components:
  schemas:
    RoleNameRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type:
          - string
          - 'null'
          example: Project Engineer
        cost:
          type:
          - number
          - 'null'
          format: double
          example: 123.45
      additionalProperties: false
    RoleNameResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type:
          - string
          - 'null'
          example: Project Engineer
        type:
          enum:
          - Salaried
          - Hourly
          - All
          type: string
          example: Salaried
        cost:
          type:
          - number
          - 'null'
          format: double
          example: 123.45
        inUse:
          type: boolean
          readOnly: true
          example: true
        projectIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          example:
          - 1
        alphabetize:
          type: boolean
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
