openapi: 3.2.0
info:
  title: Bench Project Field Value API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: ProjectFieldValue
paths:
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/project-field-values:
    get:
      tags:
      - ProjectFieldValue
      summary: Gets all custom field values for the given project in the given account
      description: 'Permissions

        Project: Read

        Private: Read

        Finance: Read'
      operationId: ProjectFieldValue_QueryFieldValues
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID the role belongs to
        required: true
        schema:
          type: integer
          format: int64
      - name: includeEmpty
        in: query
        description: Returns fields with empty/unset value as well
        schema:
          type: boolean
          default: false
      - name: classification
        in: query
        description: 'Optional - for filtering result by classification: All or Experience"'
        schema:
          enum:
          - All
          - Experience
          type: string
          default: All
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldValuesResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldValuesResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldValuesResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - ProjectFieldValue
      summary: Set project's field values in the given account
      description: 'NOTE: It is mandatory that the fields with isRequired set to true be passed in as part of the request.


        Example: Say you have 2 project fields on an account "Budget" and "City" where isRequired is set to true on "Budget".


        FieldDefinition Example Response - GET ProjectFields (/api/v{version}/accounts/{id}/project-fields)

        [

        {

        "id": 1394,

        "name": "Budget",

        "type": "Currency",

        "isRequired": true,

        "isSystem": false,

        "isPrivate": false,

        "isFinancials": false,

        "isLocked": false

        },

        {

        "id": 1395,

        "name": "City",

        "type": "Text",

        "isRequired": false,

        "isSystem": false,

        "isPrivate": false,

        "isFinancials": false,

        "isLocked": false

        }

        ]


        If you only send in the following your request will result in a 400.

        [

        {

        "fieldId": 1395,

        "values": [

        "Toronto"

        ]

        }

        ]

        Validation

        Other: Free text. Max length: 2400


        Address: Free text. Max length: 250


        Project Number: Free text. Max length: 250


        Budget: Currency. Starts with 0 to 15 digits of ```0-9``` then optionally followed by ```.``` with 0 to 2 digits of ```0-9```


        External ID: Free text. Max length: 250


        Labor Hours (Salaried): Positive integer. Must be greater than 0 and not exceed 2,147,483,647 (Int32.MaxValue). Decimals are not allowed. This is a system field that requires both Project Forecasting and Standard modules to be enabled.


        Labor Hours (Hourly): Positive integer. Must be greater than 0 and not exceed 2,147,483,647 (Int32.MaxValue). Decimals are not allowed. This is a system field that requires both Project Forecasting and Hourly Profile modules to be enabled.


        Single List Selection: A list where only 1 value can be selected. When creating the list, each value should be between 1 and 250 non-empty characters.


        Multi List Selection: A list where 0 or more values can be selected. When creating the list, each value should be between 1 and 250 non-empty characters.


        Date selector: Format: dd/MM/yyyy


        Checkbox: Accepted values: ```true``` or ```false```


        Permissions

        Project: Write

        Private: Read

        Finance: Read'
      operationId: ProjectFieldValue_SetFieldValues
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID the role belongs to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The request details of field values to be set
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/FieldValuesPair'
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/FieldValuesPair'
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/FieldValuesPair'
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/FieldValuesPair'
        required: true
      responses:
        '204':
          description: No Content - Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation fail - One more more field IDs might not be valid
    patch:
      tags:
      - ProjectFieldValue
      summary: Update field values on a project
      description: 'Validation


        Other: Free text. Max length: 2400


        Address: Free text. Max length: 250


        Project Number: Free text. Max length: 250


        Budget: Currency. Starts with 0 to 15 digits of ```0-9``` then optionally followed by ```.``` with 0 to 2 digits of ```0-9```


        External ID: Free text. Max length: 250


        Labor Hours (Salaried): Positive integer. Must be greater than 0 and not exceed 2,147,483,647 (Int32.MaxValue). Decimals are not allowed. This is a system field that requires both Project Forecasting and Standard modules to be enabled.


        Labor Hours (Hourly): Positive integer. Must be greater than 0 and not exceed 2,147,483,647 (Int32.MaxValue). Decimals are not allowed. This is a system field that requires both Project Forecasting and Hourly Profile modules to be enabled.


        Single List Selection: A list where only 1 value can be selected. When creating the list, each value should be between 1 and 250 non-empty characters.


        Multi List Selection: A list where 0 or more values can be selected. When creating the list, each value should be between 1 and 250 non-empty characters.


        Date selector: Format: dd/MM/yyyy


        Checkbox: Accepted values: ```true``` or ```false```


        Permissions

        Project: Write

        Private: Read

        Finance: Read'
      operationId: ProjectFieldValue_BulkUpdateFieldValues
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/FieldValuesPair'
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/FieldValuesPair'
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/FieldValuesPair'
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/FieldValuesPair'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content (success)
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - User doesn't have permissions on this resource, or the account or project couldn't be found
    delete:
      tags:
      - ProjectFieldValue
      summary: Clear project's field values by field IDs in the given account
      description: 'Permissions

        Project: Write

        Private: Read

        Finance: Read'
      operationId: ProjectFieldValue_ClearFieldValues
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID the role belongs to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The field IDs to be cleared
        content:
          application/json-patch+json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          text/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
          application/*+json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '204':
          description: No Content - Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/project-field-values/{fieldId}:
    patch:
      tags:
      - ProjectFieldValue
      summary: Update a single field's value(s) for project in the given account
      description: 'Validation


        Other: Free text. Max length: 2400


        Address: Free text. Max length: 250


        Project Number: Free text. Max length: 250


        Budget: Currency. Starts with 0 to 15 digits of ```0-9``` then optionally followed by ```.``` with 0 to 2 digits of ```0-9```


        External ID: Free text. Max length: 250


        Labor Hours (Salaried): Positive integer. Must be greater than 0 and not exceed 2,147,483,647 (Int32.MaxValue). Decimals are not allowed. This is a system field that requires both Project Forecasting and Standard modules to be enabled.


        Labor Hours (Hourly): Positive integer. Must be greater than 0 and not exceed 2,147,483,647 (Int32.MaxValue). Decimals are not allowed. This is a system field that requires both Project Forecasting and Hourly Profile modules to be enabled.


        Single List Selection: A list where only 1 value can be selected. When creating the list, each value should be between 1 and 250 non-empty characters.


        Multi List Selection: A list where 0 or more values can be selected. When creating the list, each value should be between 1 and 250 non-empty characters.


        Date selector: Format: dd/MM/yyyy


        Checkbox: Accepted values: ```true``` or ```false```


        Permissions

        Project: Write

        Private: Read

        Finance: Read'
      operationId: ProjectFieldValue_UpdateFieldValue
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The project ID the role belongs to
        required: true
        schema:
          type: integer
          format: int64
      - name: fieldId
        in: path
        description: The field ID that the data can be updated
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The request details of field values to be set
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FieldValuesRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/FieldValuesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FieldValuesRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FieldValuesRequest'
        required: true
      responses:
        '204':
          description: No Content - Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation fail - One more more field IDs might not be valid
components:
  schemas:
    FieldValuesResponse:
      type: object
      properties:
        fieldId:
          type: integer
          format: int64
          example: 1394
        name:
          type:
          - string
          - 'null'
          example: Contact Number
        type:
          enum:
          - Boolean
          - Date
          - Email
          - PhoneNumber
          - Image
          - Text
          - LongText
          - SingleSelect
          - MultiSelect
          - Address
          - Currency
          - Phone
          - Integer
          - Number
          type: string
          example: PhoneNumber
        values:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - '5195555555'
        isRequired:
          type: boolean
        isSystem:
          type: boolean
          example: false
        isPrivate:
          type: boolean
          example: true
        isFinancials:
          type: boolean
          example: true
        lastModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-05-27T10:58:23.530Z'
      additionalProperties: false
    FieldValuesRequest:
      type: object
      properties:
        values:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - '5195555555'
      additionalProperties: false
    FieldValuesPair:
      type: object
      properties:
        fieldId:
          type: integer
          format: int64
          example: 1394
        values:
          type:
          - array
          - 'null'
          items:
            type: string
          example:
          - '5195555555'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
