openapi: 3.2.0
info:
  title: Bench User Filters API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: User Filters
paths:
  /rp/api/v1/accounts/{accountId}/my-filters:
    get:
      tags:
      - User Filters
      summary: Gets user's saved filters in the given account
      description: 'Permissions

        Account: Read'
      operationId: UserFilters_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: Maximum number of results in this page
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: type
        in: query
        description: The filter type to return in the result
        schema:
          enum:
          - People
          - Project
          - Roles
          type: string
      - name: name
        in: query
        description: The filter name by partial match to return in the result
        schema:
          type: string
      responses:
        '200':
          description: 'Success: List of saved filters on the account'
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - User Filters
      summary: Add a filter for the user in the given account
      description: 'Permissions

        Account: Read'
      operationId: UserFilters_Add
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object that contains the filter details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FilterResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
  /rp/api/v1/accounts/{accountId}/my-filters/{id}:
    get:
      tags:
      - User Filters
      summary: Get user's saved filter for the given account by ID
      description: 'Permissions

        Account: Read'
      operationId: UserFilters_Get
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: The filter's ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: filter model'
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FilterResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    patch:
      tags:
      - User Filters
      summary: Update user's saved filter from the given account
      description: 'Permissions

        Account: Read'
      operationId: UserFilters_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the filter to remove
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Account request object
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FilterUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/FilterUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FilterUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FilterUpdateRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
      - User Filters
      summary: Delete user's saved filter from the given account
      description: 'Permissions

        Account: Read'
      operationId: UserFilters_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the filter to remove
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    ActiveFilterResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        verb:
          enum:
          - Above
          - Below
          - Between
          - Includes
          - Excludes
          - Equals
          type:
          - string
          - 'null'
        valueIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        shortValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        intValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        longValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        decimalValues:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
        dateValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: date
        stringValue:
          type:
          - string
          - 'null'
        blankValue:
          type:
          - boolean
          - 'null'
        dynamicData:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
      additionalProperties: false
    FilterResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type:
          - string
          - 'null'
          example: My filter
        type:
          enum:
          - People
          - Project
          - Roles
          type: string
          example: Project
        predicates:
          type:
          - string
          - 'null'
          example: '[{"activeFilters":[{"value":true}],"filterType":"FILTER_ISSUES"}]'
        filtersSet:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActiveFilterSetResponse'
      additionalProperties: false
    FilterUpdateRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: My filter
        predicates:
          type:
          - string
          - 'null'
          example: '[{"activeFilters":[{"value":true}],"filterType":"FILTER_ISSUES"}]'
        filtersSet:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActiveFilterSetRequest'
      additionalProperties: false
    ActiveFilterRequest:
      type: object
      properties:
        verb:
          enum:
          - Above
          - Below
          - Between
          - Includes
          - Excludes
          - Equals
          type:
          - string
          - 'null'
          example: Includes
        valueIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          example:
          - 1
          - 2
          - 3
        shortValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        intValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        longValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        decimalValues:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
        dateValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: date
        stringValue:
          type:
          - string
          - 'null'
        blankValue:
          type:
          - boolean
          - 'null'
        dynamicData:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
          example:
          - key: k
            value: v
      additionalProperties: false
    ActiveFilterSetResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          enum:
          - People
          - Project
          - Roles
          type: string
        fieldDefId:
          type:
          - integer
          - 'null'
          format: int64
        filterType:
          type:
          - string
          - 'null'
        filters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActiveFilterResponse'
      additionalProperties: false
    FilterRequest:
      required:
      - name
      - predicates
      - type
      type: object
      properties:
        name:
          minLength: 1
          type: string
          example: My filter
        type:
          enum:
          - People
          - Project
          - Roles
          type: string
          example: Project
        predicates:
          minLength: 1
          type: string
          example: '[{"activeFilters":[{"value":true}],"filterType":"FILTER_ISSUES"}]'
        filtersSet:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActiveFilterSetRequest'
      additionalProperties: false
    ActiveFilterSetRequest:
      required:
      - filters
      - type
      type: object
      properties:
        type:
          enum:
          - People
          - Project
          - Roles
          type: string
          example: Project
        fieldDefId:
          type:
          - integer
          - 'null'
          format: int64
          example: 123
        filterType:
          type:
          - string
          - 'null'
          example: ProjectStartDate
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ActiveFilterRequest'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
