openapi: 3.2.0
info:
  title: Bench Person Attachments API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: PersonAttachments
paths:
  /rp/api/v1/accounts/{accountId}/persons/{personId}/attachments:
    get:
      tags:
      - PersonAttachments
      summary: Gets the attachments for the given person
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        Private: Read'
      operationId: PersonAttachments_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: Maximum number of results in this page
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: state
        in: query
        description: The state of the attachment for filter
        schema:
          enum:
          - InProgress
          - Completed
          - Failed
          - All
          type: string
          default: Completed
      - name: creatorId
        in: query
        description: The ID of attachment creator for filter
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: List of attachments on the account'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - PersonAttachments
      summary: Add an attachment to a person
      description: 'User needs either Person:Write or HourlyProfile:Write or PeopleCerts:Write or HourlyPeopleCerts:Write permissions depending on the person type to add an attachment.

        Permissions

        Person: Write

        HourlyProfile: Write

        PeopleCerts: Write

        HourlyPeopleCerts: Write

        Private: Read'
      operationId: PersonAttachments_Post
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The request body for the attachment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAttachmentRequest'
        required: true
      responses:
        '201':
          description: 'Created: Attachment response object with upload URL'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewAttachmentResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict - Attachment name exists
        '422':
          description: Unprocessable Entity - attachment account limit has been exceeded
  /rp/api/v1/accounts/{accountId}/persons/{personId}/attachments/{id}:
    get:
      tags:
      - PersonAttachments
      summary: Get a person's attachment by ID
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        Private: Read'
      operationId: PersonAttachments_Get
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: The attachment ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: 'Success: an attachment in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
      - PersonAttachments
      summary: Delete an attachment from a person
      description: 'User needs either Person:Write or HourlyProfile:Write or PeopleCerts:Write or HourlyPeopleCerts:Write permissions depending on the person type to delete an attachment.

        Permissions

        Person: Write

        HourlyProfile: Write

        PeopleCerts: Write

        HourlyPeopleCerts: Write

        Private: Read'
      operationId: PersonAttachments_Delete
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: The attachment ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    AttachmentResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type:
          - string
          - 'null'
          example: document.txt
        size:
          type: integer
          format: int64
          example: 1024
        mimeType:
          type:
          - string
          - 'null'
          example: application/octet-stream
        isPrivate:
          type: boolean
          example: false
        binaryUrl:
          type:
          - string
          - 'null'
          example: https://bench.gobridgit.com/bin/attachments/accounts/1/persons/1/document.txt
        creatorId:
          type: integer
          format: int32
          example: 1
        createdOn:
          type: string
          format: date-time
          example: '2021-01-01T00:00:00Z'
        state:
          enum:
          - InProgress
          - Completed
          - Failed
          - All
          type: string
          example: InProgress
        certificationIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          example:
          - 1
      additionalProperties: false
    NewAttachmentRequest:
      required:
      - name
      type: object
      properties:
        name:
          minLength: 1
          type: string
          example: document.txt
        isPrivate:
          type: boolean
          example: false
      additionalProperties: false
    NewAttachmentResponse:
      type: object
      properties:
        uploadUrl:
          type:
          - string
          - 'null'
          example: https://bench.gobridgit.com/uploads/
        id:
          type: integer
          format: int64
          example: 123
        name:
          type:
          - string
          - 'null'
          example: document.txt
        size:
          type: integer
          format: int64
          example: 1024
        mimeType:
          type:
          - string
          - 'null'
          example: application/octet-stream
        isPrivate:
          type: boolean
          example: false
        binaryUrl:
          type:
          - string
          - 'null'
          example: https://bench.gobridgit.com/bin/attachments/accounts/1/persons/1/document.txt
        creatorId:
          type: integer
          format: int32
          example: 1
        createdOn:
          type: string
          format: date-time
          example: '2021-01-01T00:00:00Z'
        state:
          enum:
          - InProgress
          - Completed
          - Failed
          - All
          type: string
          example: InProgress
        certificationIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          example:
          - 1
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
