openapi: 3.2.0
info:
  title: Bench Users API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: Users
paths:
  /rp/api/v1/Users/{id}/membership:
    put:
      tags:
      - Users
      summary: Modify system user's permission group
      operationId: Users_SetMembership
      parameters:
      - name: id
        in: path
        description: Id of the user to remove
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object for the user
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MembershipRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/MembershipRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MembershipRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    MembershipRequest:
      type: object
      properties:
        group:
          type:
          - string
          - 'null'
          example: Administrator
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
