openapi: 3.2.0
info:
  title: Bench Experience Fields API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: ExperienceFields
paths:
  /rp/api/v1/accounts/{accountId}/experience-fields:
    get:
      tags:
      - ExperienceFields
      summary: Query all experience fields for an account
      description: 'Permissions

        Account: Read'
      operationId: ExperienceFields_Query
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: All experience fields in the account'
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - ExperienceFields
      summary: Promote custom fields to experience fields
      description: 'Permissions

        Account: Write'
      operationId: ExperienceFields_PromoteCustomFields
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: integer
                format: int64
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
          text/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
          application/*+json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '200':
          description: 'Success: All custom fields promoted to experience fields'
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /rp/api/v1/accounts/{accountId}/experience-fields/candidates:
    get:
      tags:
      - ExperienceFields
      summary: Query candidate experience fields for an account
      description: 'Permissions

        Account: Write'
      operationId: ExperienceFields_QueryCandidates
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: All experience field candidates for an account'
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldCandidateResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldCandidateResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldCandidateResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /rp/api/v1/accounts/{accountId}/experience-fields/{experienceFieldId}:
    delete:
      tags:
      - ExperienceFields
      summary: Demote experience fields
      description: 'Permissions

        Account: Write'
      operationId: ExperienceFields_DemoteExperienceField
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: experienceFieldId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '200':
          description: 'Success: All experience fields demoted'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    ExperienceFieldResponse:
      type: object
      properties:
        experienceFieldId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        projectFieldId:
          type: integer
          format: int64
          example: 1
        name:
          type:
          - string
          - 'null'
          example: Experience
        type:
          enum:
          - Boolean
          - Date
          - Email
          - PhoneNumber
          - Image
          - Text
          - LongText
          - SingleSelect
          - MultiSelect
          - Address
          - Currency
          - Phone
          - Integer
          - Number
          type: string
          example: SingleSelect
        isRequired:
          type: boolean
          example: true
      additionalProperties: false
    ExperienceFieldCandidateResponse:
      type: object
      properties:
        customFieldId:
          type: integer
          format: int64
        name:
          type:
          - string
          - 'null'
          example: Experience
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
