openapi: 3.0.4
info:
  title: Bench AccountActivities UserFilters API
  description: "<h2>Versioning</h2>\n<p>\n    The API is currently at version <code>1.0</code>. All API endpoints (other than\n    authentication) require you to specify the API version as part of the path.\n</p>\n\n<h2>URL Paths</h2>\n<p>\n    Authentication requests should be made to <code>/auth/signin</code>,\n    as documented below. All other API requests should be made to\n    sub-paths of <code>/rp/api/1.0/...</code>.\n</p>\n\n<h2>Authentication</h2>\n<p>\n    API requests are authenticated using an OAuth Bearer token.\n    You can get a token by authenticating your user by sending a\n    POST request to <code>/auth/signin</code>, with \"username and \"password\"\n    parameters form-encoded in the body of the request.\n\n    POST /auth/signin HTTP/1.1\n    Content-Type: application/x-www-form-urlencoded\n\n    username=user@example.com&password=some-secret-password\n</p>\n<p>\n    The response will be a JSON object including both\n    <b>\"access_token\"</b> and <b>\"refresh_token\"</b> property.\n    All other requests against the Bench API should include an\n    authorization header: <code>Authorization: Bearer xxxYYYzzz</code>,\n    where <b>xxxYYYzzz</b> is the value of <b>\"access_token\"</b> in the response.\n    <br><br>\n    For example:\n\n    $ curl https://bench.gobridgit.com/auth/signin -H 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'username=someone@example.com' --data-urlencode 'password=[...snip...]'\n    {\n        \"access_token\": \"...snip...\",\n        \"token_type\": \"Bearer\",\n        \"refresh_token\": \"...snip...\"\n        \"expiry\": \"2020-01-01T00:00:00.413440849Z\"\n    }\n\n</p>\n\n<p>\n    The refresh token can be used to generate new session by request with <code>/auth/token</code> endpoint:\n\n    POST /auth/token HTTP/1.1\n    Content-Type: application/x-www-form-urlencoded\n\n    grant_type=refresh_token&refresh_token=tGzv3JOkF0XG5Qx2TlKWIA\n</p>\n<p>\n    Note that once the refresh token is used, the previous access and refresh token is no longer valid.\n    <br><br>\n    For example:\n\n    $ curl https://bench.gobridgit.com/auth/token -H 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'grant_type=refresh_token' --data-urlencode 'refresh_token=[...snip...]'\n    {\n        \"access_token\": \"...snip...\",\n        \"token_type\": \"Bearer\",\n        \"refresh_token\": \"...snip...\"\n        \"expiry\": \"2020-01-01T00:00:00.413440849Z\"\n    }\n</p>\n\n<h2>Pagination</h2>\n<p>\n    Several of the API endpoints are paginated. These are denoted by\n    including the <code>offset</code> (zero-based offset) and <code>limit</code> query\n    parameters. For example, to request the <code>10</code> items,\n    set the <code>offset=0</code> to <code>limit=10</code>.\n    <br>\n    NOTE: the result set contains items with index of 0-9\n    <br>\n    To request the next 10 items (starting at index 10),\n    set the <code>offset=10</code> to <code>limit=10</code>\n</p>\n<p>\n    Responses to paginated API endpoints return a JSON array of objects.\n    If there are results beyond the page you have requested, the server\n    will set a <code>query-has-more: true</code> header in the response.\n</p>\n\n<h2>Request Encoding</h2>\n<p>\n    <code>GET</code> and <code>DELETE</code> requests should have parameters encoded as URL query\n    parameters. Boolean values should be encoded as <code>true</code> and\n    <code>false</code>, not as <code>1</code> and <code>0</code>.\n</p>\n\n<h2>Errors</h2>\n<p>\n    Errors are returned for some response codes such as <code>400 Bad Request</code> in the\n    following format:\n\n    {\n      \"errors\": [\n        {\n          \"errorType\": \"ValidationError\",\n          \"description\": \"The value of Name must be a string with a minimum length of 1 and a maximum length of 8 and not whitespace.\",\n          \"field\": \"Name\",\n          \"values\": [\n            null\n          ]\n        }\n      ],\n      \"title\": \"One or more validation errors occurred.\",\n      \"status\": 400,\n      \"instance\": \"api/v1/accounts/0/persons\",\n      \"requestUid\": \"123e4567-e89b-12d3-a456-426614174000\"\n    }\n</p>\n"
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: UserFilters
paths:
  /rp/api/v1/accounts/{accountId}/my-filters:
    get:
      tags:
      - UserFilters
      summary: Gets user's saved filters in the given account
      description: '<br/><strong>Permissions</strong><br/>Account: Read'
      operationId: UserFilters_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: Maximum number of results in this page
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: type
        in: query
        description: The filter type to return in the result
        schema:
          enum:
          - People
          - Project
          - Roles
          type: string
      - name: name
        in: query
        description: The filter name by partial match to return in the result
        schema:
          type: string
      responses:
        '200':
          description: 'Success: List of saved filters on the account'
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - UserFilters
      summary: Add a filter for the user in the given account.
      description: '<br/><strong>Permissions</strong><br/>Account: Read'
      operationId: UserFilters_Add
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object that contains the filter details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FilterResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
  /rp/api/v1/accounts/{accountId}/my-filters/{id}:
    get:
      tags:
      - UserFilters
      summary: Get user's saved filter for the given account by ID
      description: '<br/><strong>Permissions</strong><br/>Account: Read'
      operationId: UserFilters_Get
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: The filter's ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: filter model'
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FilterResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    patch:
      tags:
      - UserFilters
      summary: Update user's saved filter from the given account
      description: '<br/><strong>Permissions</strong><br/>Account: Read'
      operationId: UserFilters_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the filter to remove
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Account request object
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FilterUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/FilterUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FilterUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FilterUpdateRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
      - UserFilters
      summary: Delete user's saved filter from the given account
      description: '<br/><strong>Permissions</strong><br/>Account: Read'
      operationId: UserFilters_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the filter to remove
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    ActiveFilterSetRequest:
      required:
      - filters
      - type
      type: object
      properties:
        type:
          enum:
          - People
          - Project
          - Roles
          type: string
          example: Project
        fieldDefId:
          type: integer
          format: int64
          nullable: true
          example: 123
        filterType:
          type: string
          nullable: true
          example: ProjectStartDate
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ActiveFilterRequest'
      additionalProperties: false
    ActiveFilterRequest:
      type: object
      properties:
        verb:
          enum:
          - Above
          - Below
          - Between
          - Includes
          - Excludes
          - Equals
          type: string
          nullable: true
          example: Includes
        valueIds:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
          example:
          - 1
          - 2
          - 3
        shortValues:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        intValues:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        longValues:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
        decimalValues:
          type: array
          items:
            type: number
            format: double
          nullable: true
        dateValues:
          type: array
          items:
            type: string
            format: date
          nullable: true
        stringValue:
          type: string
          nullable: true
        blankValue:
          type: boolean
          nullable: true
        dynamicData:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
          example:
          - key: k
            value: v
      additionalProperties: false
    ActiveFilterSetResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          enum:
          - People
          - Project
          - Roles
          type: string
        fieldDefId:
          type: integer
          format: int64
          nullable: true
        filterType:
          type: string
          nullable: true
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ActiveFilterResponse'
          nullable: true
      additionalProperties: false
    ActiveFilterResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        verb:
          enum:
          - Above
          - Below
          - Between
          - Includes
          - Excludes
          - Equals
          type: string
          nullable: true
        valueIds:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
        shortValues:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        intValues:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        longValues:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
        decimalValues:
          type: array
          items:
            type: number
            format: double
          nullable: true
        dateValues:
          type: array
          items:
            type: string
            format: date
          nullable: true
        stringValue:
          type: string
          nullable: true
        blankValue:
          type: boolean
          nullable: true
        dynamicData:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
      additionalProperties: false
    FilterRequest:
      required:
      - name
      - predicates
      - type
      type: object
      properties:
        name:
          minLength: 1
          type: string
          example: My filter
        type:
          enum:
          - People
          - Project
          - Roles
          type: string
          example: Project
        predicates:
          minLength: 1
          type: string
          example: '[{"activeFilters":[{"value":true}],"filterType":"FILTER_ISSUES"}]'
        filtersSet:
          type: array
          items:
            $ref: '#/components/schemas/ActiveFilterSetRequest'
          nullable: true
      additionalProperties: false
    FilterResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type: string
          nullable: true
          example: My filter
        type:
          enum:
          - People
          - Project
          - Roles
          type: string
          example: Project
        predicates:
          type: string
          nullable: true
          example: '[{"activeFilters":[{"value":true}],"filterType":"FILTER_ISSUES"}]'
        filtersSet:
          type: array
          items:
            $ref: '#/components/schemas/ActiveFilterSetResponse'
          nullable: true
      additionalProperties: false
    FilterUpdateRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
          example: My filter
        predicates:
          type: string
          nullable: true
          example: '[{"activeFilters":[{"value":true}],"filterType":"FILTER_ISSUES"}]'
        filtersSet:
          type: array
          items:
            $ref: '#/components/schemas/ActiveFilterSetRequest'
          nullable: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
