openapi: 3.2.0
info:
  title: Bench Account Certifications API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: AccountCertifications
paths:
  /rp/api/v1/accounts/{accountId}/certifications:
    get:
      tags:
      - AccountCertifications
      summary: Gets the certifications for the given account
      description: 'Permissions

        Account: Read'
      operationId: AccountCertifications_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: Maximum number of results in this page
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 1000
      responses:
        '200':
          description: 'Success: List of certifications on the account sorted by <strong>name</strong>'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - AccountCertifications
      summary: Adds a certification on the given account
      description: 'Permissions

        Account: Write'
      operationId: AccountCertifications_Add
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object that contains the certification details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCertificationRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewCertificationResponse'
              example:
                id: 213
                name: Transportation of Dangerous Goods
                abbreviation: TDG
                requireExpiration: true
                daysWarnBeforeExpire: 7
                inUse: []
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
  /rp/api/v1/accounts/{accountId}/certifications/{id}:
    get:
      tags:
      - AccountCertifications
      summary: Gets the the specified certification for the given account by ID
      description: 'Permissions

        Account: Read'
      operationId: AccountCertifications_Get
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: The Certification's ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: Certification model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    patch:
      tags:
      - AccountCertifications
      summary: Updates a certification for the given account
      description: 'Permissions

        Account: Write'
      operationId: AccountCertifications_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the certification to update
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object in the body with fields to change
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
            example:
              name: Transportation of Dangerous Goods
              abbreviation: TDG
              requireExpiration: 'false'
              daysWarnBeforeExpire: null
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
    delete:
      tags:
      - AccountCertifications
      summary: Deletes a certification from the given account
      description: 'NOTE: this will delete all linked attachments to person certifications.

        Permissions

        Account: Write

        Private: Read'
      operationId: AccountCertifications_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the certification to remove
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    NewCertificationRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: CPR Training
        abbreviation:
          type:
          - string
          - 'null'
          example: CPR
        requireExpiration:
          type: boolean
          example: false
        daysWarnBeforeExpire:
          maximum: 365
          minimum: 1
          type:
          - integer
          - 'null'
          format: int32
          example: 7
      additionalProperties: false
    NewCertificationResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type:
          - string
          - 'null'
          example: CPR Training
        abbreviation:
          type:
          - string
          - 'null'
          example: CPR
        requireExpiration:
          type: boolean
          example: false
        daysWarnBeforeExpire:
          type:
          - integer
          - 'null'
          format: int32
          example: 7
        inUse:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          example:
          - 1
          - 2
          - 3
          - 4
      additionalProperties: false
    CertificationResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type:
          - string
          - 'null'
          example: CPR Training
        abbreviation:
          type:
          - string
          - 'null'
          example: CPR
        requireExpiration:
          type: boolean
          example: false
        daysWarnBeforeExpire:
          type:
          - integer
          - 'null'
          format: int32
          example: 7
        inUse:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          example:
          - 1
          - 2
          - 3
          - 4
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
