openapi: 3.2.0
info:
  title: Bench Person Certifications API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: PersonCertifications
paths:
  /rp/api/v1/accounts/{accountId}/persons/{personId}/certifications:
    get:
      tags:
      - PersonCertifications
      summary: Gets the certifications for the given person
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        PersonCerts: Read

        HourlyCerts: Read

        Private: Read'
      operationId: PersonCertifications_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: Maximum number of results in this page
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 1000
      - name: ids
        in: query
        description: (Optional) Filters the result to contain person certifications that match the ids passed in.
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: 'Success: List of person certifications on the account sorted by <strong>name</strong>'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonCertificationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - PersonCertifications
      summary: Adds a certification on the given person
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        PersonCerts: Write

        HourlyCerts: Write'
      operationId: PersonCertifications_Add
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object that contains the certification details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPersonCertificationRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonCertificationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
  /rp/api/v1/accounts/{accountId}/persons/{personId}/certifications/{id}:
    get:
      tags:
      - PersonCertifications
      summary: Gets the specified certification for the given person by ID
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        PersonCerts: Read

        HourlyCerts: Read

        Private: Read'
      operationId: PersonCertifications_Get
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: The Certification's ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: Certification model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonCertificationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    put:
      tags:
      - PersonCertifications
      summary: Updates a certification for the given person
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        PersonCerts: Write

        HourlyCerts: Write'
      operationId: PersonCertifications_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the certification to update
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object in the body with fields to change
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCertificationUpdateRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
    delete:
      tags:
      - PersonCertifications
      summary: Deletes a certification from the given person and the linked attachments
      description: 'NOTE: this will delete all linked attachments.

        Permissions

        Person: Read

        HourlyProfile: Read

        Private: Read

        PersonCerts: Write

        HourlyCerts: Write'
      operationId: PersonCertifications_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the certification to remove
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    NewPersonCertificationRequest:
      type: object
      properties:
        certificationId:
          type: integer
          format: int64
          example: 1234
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-01-01'
        certificationDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-12-20'
        certificationDescription:
          type:
          - string
          - 'null'
          description: Must be no greater than ResourcePlanning.Contracts.NewPersonCertificationRequest.MaxDescriptionLength characters.
          example: '"Certification for fall arrest"'
      additionalProperties: false
    PersonCertificationUpdateRequest:
      type: object
      properties:
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-01-01'
        certificationDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-12-20'
        certificationDescription:
          type:
          - string
          - 'null'
          description: Must be no greater than 255 characters.
          example: '"Certification for fall arrest"'
      additionalProperties: false
    PersonCertificationResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234
        name:
          type:
          - string
          - 'null'
          example: CPR Training
        abbreviation:
          type:
          - string
          - 'null'
          example: CPR
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-01-01'
        daysWarnBeforeExpire:
          type:
          - integer
          - 'null'
          format: int32
          example: 9
        certificationDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-12-20'
        certificationDescription:
          type:
          - string
          - 'null'
          description: Must be no greater than 255 characters.
          example: '"Certification for fall arrest"'
        hasAttachment:
          type: boolean
        state:
          enum:
          - Info
          - Warning
          - Expired
          - All
          type: string
          readOnly: true
          example: Info
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
