openapi: 3.2.0
info:
  title: Bench Account Groupings API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: AccountGroupings
paths:
  /rp/api/v1/accounts/{accountId}/groupings:
    get:
      tags:
      - AccountGroupings
      summary: Gets the groupings for the given account
      description: 'Permissions

        Account: Read'
      operationId: AccountGroupings_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: Maximum number of results in the resultset
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 1000
      responses:
        '200':
          description: 'Success: List of groupings on the account sorted by <strong>name</strong>'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountGroupingResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    post:
      tags:
      - AccountGroupings
      summary: Adds a grouping on the given account
      description: 'Permissions

        Account: Write'
      operationId: AccountGroupings_Add
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object that contains the grouping details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountGroupingRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGroupingResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '503':
          description: Service Unavailable
  /rp/api/v1/accounts/{accountId}/groupings/{id}:
    get:
      tags:
      - AccountGroupings
      summary: Gets the the specified grouping for the given account by ID
      description: 'Permissions

        Account: Read'
      operationId: AccountGroupings_Get
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: The grouping's ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: grouping model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGroupingResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    patch:
      tags:
      - AccountGroupings
      summary: Updates a grouping for the given account
      description: 'Permissions

        Account: Write'
      operationId: AccountGroupings_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the grouping to update
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request object in the body with fields to change
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountGroupingRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '503':
          description: Service Unavailable
    delete:
      tags:
      - AccountGroupings
      summary: Deletes a grouping from the given account
      description: 'Permissions

        Account: Write'
      operationId: AccountGroupings_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: Id of the grouping to remove
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
components:
  schemas:
    AccountGroupingResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type:
          - string
          - 'null'
        lastModifiedOn:
          type: string
          format: date-time
        inUseByPeople:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        inUseByProjects:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        inUseByUsers:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
      additionalProperties: false
    AccountGroupingRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
