openapi: 3.2.0
info:
  title: Bench Experience Field Values API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: ExperienceFieldValues
paths:
  /rp/api/v1/accounts/{accountId}/experience-fields/{experienceFieldId}/values:
    post:
      tags:
      - ExperienceFieldValues
      summary: Create new experience field values
      description: 'Permissions

        Account: Write'
      operationId: ExperienceFieldValues_Create
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: experienceFieldId
        in: path
        description: The Experience Field UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Field Values request object
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExperienceFieldValueRequest'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExperienceFieldValueRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExperienceFieldValueRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExperienceFieldValueRequest'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldValueResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldValueResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldValueResponse'
    get:
      tags:
      - ExperienceFieldValues
      summary: Query all existing values for an experience field
      description: 'Permissions

        Account: Read'
      operationId: ExperienceFieldValues_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: experienceFieldId
        in: path
        description: The Experience Field UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: offset
        in: query
        description: Offset value for paging results
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: Limit the number of results per page
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 1000
      - name: name
        in: query
        description: Filter by name with a contains check not exact match
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldValueResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldValueResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperienceFieldValueResponse'
  /rp/api/v1/accounts/{accountId}/experience-fields/{experienceFieldId}/values/{experienceFieldValueId}:
    delete:
      tags:
      - ExperienceFieldValues
      summary: Delete an existing experience field value
      description: 'Permissions

        Account: Write'
      operationId: ExperienceFieldValues_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: experienceFieldId
        in: path
        description: The Experience Field UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: experienceFieldValueId
        in: path
        description: The Field Value ID UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
    post:
      tags:
      - ExperienceFieldValues
      summary: Update a value for an existing experience field
      description: 'Permissions

        Account: Write'
      operationId: ExperienceFieldValues_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: experienceFieldId
        in: path
        description: The Experience Field UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: experienceFieldValueId
        in: path
        description: The Experience Field Value ID UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Field Value request object
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ExperienceFieldValueRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ExperienceFieldValueRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ExperienceFieldValueRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExperienceFieldValueRequest'
      responses:
        '204':
          description: No Content
components:
  schemas:
    ExperienceFieldValueResponse:
      type: object
      properties:
        experienceFieldValueId:
          type:
          - string
          - 'null'
          format: uuid
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExperienceFieldValueRequest:
      type: object
      properties:
        name:
          maxLength: 250
          minLength: 1
          type:
          - string
          - 'null'
          example: '"Apartment"'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
