openapi: 3.2.0
info:
  title: Bench Person Groupings API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: PersonGroupings
paths:
  /rp/api/v1/accounts/{accountId}/persons/{personId}/groupings:
    post:
      tags:
      - PersonGroupings
      summary: Set grouping to the person in the given account
      description: 'Permissions

        Person: Write

        HourlyProfile: Write'
      operationId: PersonGroupings_Set
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The IDs of grouping for setting to person
        content:
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    put:
      tags:
      - PersonGroupings
      summary: Update grouping to the person in the given account
      description: 'Permissions

        Person: Write

        HourlyProfile: Write'
      operationId: PersonGroupings_Put
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The IDs of grouping for setting to person
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
  /rp/api/v1/accounts/{accountId}/persons/{personId}/groupings/{id}:
    delete:
      tags:
      - PersonGroupings
      summary: Removes grouping from the person in the given account
      description: 'Permissions

        Person: Write

        HourlyProfile: Write'
      operationId: PersonGroupings_Remove
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: The grouping ID for person
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
components:
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
