openapi: 3.0.4
info:
  title: Bench AccountActivities PersonProfile API
  description: "<h2>Versioning</h2>\n<p>\n    The API is currently at version <code>1.0</code>. All API endpoints (other than\n    authentication) require you to specify the API version as part of the path.\n</p>\n\n<h2>URL Paths</h2>\n<p>\n    Authentication requests should be made to <code>/auth/signin</code>,\n    as documented below. All other API requests should be made to\n    sub-paths of <code>/rp/api/1.0/...</code>.\n</p>\n\n<h2>Authentication</h2>\n<p>\n    API requests are authenticated using an OAuth Bearer token.\n    You can get a token by authenticating your user by sending a\n    POST request to <code>/auth/signin</code>, with \"username and \"password\"\n    parameters form-encoded in the body of the request.\n\n    POST /auth/signin HTTP/1.1\n    Content-Type: application/x-www-form-urlencoded\n\n    username=user@example.com&password=some-secret-password\n</p>\n<p>\n    The response will be a JSON object including both\n    <b>\"access_token\"</b> and <b>\"refresh_token\"</b> property.\n    All other requests against the Bench API should include an\n    authorization header: <code>Authorization: Bearer xxxYYYzzz</code>,\n    where <b>xxxYYYzzz</b> is the value of <b>\"access_token\"</b> in the response.\n    <br><br>\n    For example:\n\n    $ curl https://bench.gobridgit.com/auth/signin -H 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'username=someone@example.com' --data-urlencode 'password=[...snip...]'\n    {\n        \"access_token\": \"...snip...\",\n        \"token_type\": \"Bearer\",\n        \"refresh_token\": \"...snip...\"\n        \"expiry\": \"2020-01-01T00:00:00.413440849Z\"\n    }\n\n</p>\n\n<p>\n    The refresh token can be used to generate new session by request with <code>/auth/token</code> endpoint:\n\n    POST /auth/token HTTP/1.1\n    Content-Type: application/x-www-form-urlencoded\n\n    grant_type=refresh_token&refresh_token=tGzv3JOkF0XG5Qx2TlKWIA\n</p>\n<p>\n    Note that once the refresh token is used, the previous access and refresh token is no longer valid.\n    <br><br>\n    For example:\n\n    $ curl https://bench.gobridgit.com/auth/token -H 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'grant_type=refresh_token' --data-urlencode 'refresh_token=[...snip...]'\n    {\n        \"access_token\": \"...snip...\",\n        \"token_type\": \"Bearer\",\n        \"refresh_token\": \"...snip...\"\n        \"expiry\": \"2020-01-01T00:00:00.413440849Z\"\n    }\n</p>\n\n<h2>Pagination</h2>\n<p>\n    Several of the API endpoints are paginated. These are denoted by\n    including the <code>offset</code> (zero-based offset) and <code>limit</code> query\n    parameters. For example, to request the <code>10</code> items,\n    set the <code>offset=0</code> to <code>limit=10</code>.\n    <br>\n    NOTE: the result set contains items with index of 0-9\n    <br>\n    To request the next 10 items (starting at index 10),\n    set the <code>offset=10</code> to <code>limit=10</code>\n</p>\n<p>\n    Responses to paginated API endpoints return a JSON array of objects.\n    If there are results beyond the page you have requested, the server\n    will set a <code>query-has-more: true</code> header in the response.\n</p>\n\n<h2>Request Encoding</h2>\n<p>\n    <code>GET</code> and <code>DELETE</code> requests should have parameters encoded as URL query\n    parameters. Boolean values should be encoded as <code>true</code> and\n    <code>false</code>, not as <code>1</code> and <code>0</code>.\n</p>\n\n<h2>Errors</h2>\n<p>\n    Errors are returned for some response codes such as <code>400 Bad Request</code> in the\n    following format:\n\n    {\n      \"errors\": [\n        {\n          \"errorType\": \"ValidationError\",\n          \"description\": \"The value of Name must be a string with a minimum length of 1 and a maximum length of 8 and not whitespace.\",\n          \"field\": \"Name\",\n          \"values\": [\n            null\n          ]\n        }\n      ],\n      \"title\": \"One or more validation errors occurred.\",\n      \"status\": 400,\n      \"instance\": \"api/v1/accounts/0/persons\",\n      \"requestUid\": \"123e4567-e89b-12d3-a456-426614174000\"\n    }\n</p>\n"
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: PersonProfile
paths:
  /rp/api/v1/accounts/{accountId}/persons/{personId}/profile-picture:
    put:
      tags:
      - PersonProfile
      summary: Updates a person's profile picture with support for upload and set modes.
      description: '<strong>Two modes of operation:</strong>


        <strong>1. Upload Mode:</strong> When no request body is provided, returns a presigned URL for direct image upload to S3. Use a PUT request to upload your image file to the returned signed URL.


        <strong>2. Set Mode:</strong> When a request body with ImageUrl is provided, sets the profile picture to the specified URL<br/><strong>Permissions</strong><br/>Person: Write<br/>HourlyProfile: Write'
      operationId: PersonProfile_Put
      parameters:
      - name: accountId
        in: path
        description: The unique identifier of the account
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The unique identifier of the person
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: 'The profile picture request. Can be null for upload mode or contain an ImageUrl for set mode.

          When null, generates a presigned upload URL. When provided, sets the profile picture to the specified URL.'
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ProfilePicture'
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePicture'
          text/json:
            schema:
              $ref: '#/components/schemas/ProfilePicture'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProfilePicture'
      responses:
        '200':
          description: Success - Profile picture updated or upload URL generated
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProfilePicture'
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePicture'
            text/json:
              schema:
                $ref: '#/components/schemas/ProfilePicture'
        '400':
          description: Bad Request - Invalid parameters or request format
        '401':
          description: Unauthorized - User is not authenticated
        '403':
          description: Forbidden - User lacks required permissions or resource not found
        '422':
          description: Unprocessable Entity - Unable to process the profile image (e.g., invalid format, upload failure)
    delete:
      tags:
      - PersonProfile
      summary: Clear a person's profile picture
      description: '<br/><strong>Permissions</strong><br/>Person: Write<br/>HourlyProfile: Write'
      operationId: PersonProfile_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The Person ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content (success)
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - User doesn't have permissions on this resource, or the account or person couldn't be found
components:
  schemas:
    ProfilePicture:
      type: object
      properties:
        ImageUrl:
          type: string
          nullable: true
          example: https://example.com/images/image.png
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
