openapi: 3.2.0
info:
  title: Bench External API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: External
paths:
  /rp/api/v1/accounts/{accountId}/external/persons/{externalId}:
    get:
      tags:
      - External
      operationId: External_GetPerson
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: externalId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: External get person
      x-summary-source: derived
  /rp/api/v1/accounts/{accountId}/external/projects/{externalId}:
    get:
      tags:
      - External
      operationId: External_GetProject
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: externalId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: External get project
      x-summary-source: derived
  /rp/api/v1/accounts/{accountId}/external/roles/{externalId}:
    get:
      tags:
      - External
      operationId: External_GetProjectRole
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: externalId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: External get project role
      x-summary-source: derived
components:
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
