openapi: 3.2.0
info:
  title: Bench Phases API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: Phases
paths:
  /rp/api/v1/accounts/{accountId}/Phases:
    get:
      tags:
      - Phases
      summary: Gets the list of phases in the given account
      description: 'Permissions

        Account: Read'
      operationId: Phases_Query
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: List of phases'
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhaseResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhaseResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhaseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - Phases
      summary: Adds a new phase to the given account
      description: 'You must specify "name" for this endpoint.


        If the "includeOnNewProjects" property is true, then the phase is included by default on new projects.


        An account can have a maximum of 20 phases.

        Permissions

        Account: Write'
      operationId: Phases_Add
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Object with the name of the phase and whether to include it by default on new projects
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PhaseAddRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PhaseAddRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PhaseAddRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PhaseAddRequest'
        required: true
      responses:
        '201':
          description: 'Success: Newly created phase model'
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PhaseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PhaseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PhaseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict - Phase with name already exists in the account
        '422':
          description: Unprocessable Entity - Limit for number of phases on the account has been reached
    put:
      tags:
      - Phases
      summary: Updates and re-orders the list of phases on an account
      description: 'This endpoint will update the order of the phases in the account by the order that is sent in

        NOTE: This endpoint does not require all of the phases to be sent in.

        HOWEVER, if you do not pass in all of the phases on the account, the order may not come back in an expected order.

        Permissions

        Account: Write'
      operationId: Phases_Update
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Array of objects with the id of the phase, the name and whether to include it by default on new projects
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PhaseUpdateRequest'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PhaseUpdateRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PhaseUpdateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PhaseUpdateRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict - Phase with name already exists in the account
    delete:
      tags:
      - Phases
      summary: Removes phases from the given account
      description: 'Permissions

        Account: Write'
      operationId: Phases_Delete
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: The Phase IDs to be removed
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: integer
                format: int64
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
          text/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
          application/*+json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /rp/api/v1/accounts/{accountId}/Phases/{id}:
    get:
      tags:
      - Phases
      summary: Gets the phase by id in the given account
      description: 'Permissions

        Account: Read'
      operationId: Phases_Get
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: The Phase ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: 'Success: Phase'
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PhaseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PhaseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PhaseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    put:
      tags:
      - Phases
      summary: Updates a single phase on an account
      description: 'Permissions

        Account: Write'
      operationId: Phases_UpdateSingle
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: The Phase ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Object with the name and whether to include it by default on new projects
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PhaseFromRouteUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PhaseFromRouteUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PhaseFromRouteUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PhaseFromRouteUpdateRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict - Phase with name already exists in the account
components:
  schemas:
    PhaseUpdateRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234
        name:
          type:
          - string
          - 'null'
          example: Pre-Construction
        includeOnNewProjects:
          type: boolean
      additionalProperties: false
    PhaseFromRouteUpdateRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: Pre-Construction
        includeOnNewProjects:
          type: boolean
      additionalProperties: false
    PhaseAddRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: Pre-Construction
        includeOnNewProjects:
          type: boolean
      additionalProperties: false
    PhaseResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1234
        name:
          type:
          - string
          - 'null'
          example: Pre-Construction
        includeOnNewProjects:
          type: boolean
        projects:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          example:
          - 1
          - 12
          - 123
          - 1234
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
