openapi: 3.2.0
info:
  title: Bench Person Historical Experience Fields API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: PersonHistoricalExperienceFields
paths:
  /rp/api/v1/accounts/{accountId}/persons/{personId}/historical-experiences/{historicalExperienceId}/experience-fields:
    post:
      tags:
      - PersonHistoricalExperienceFields
      summary: Add historical experience field values for a person in an account.
      description: 'Permissions

        Account: Write'
      operationId: PersonHistoricalExperienceFields_Post
      parameters:
      - name: accountId
        in: path
        description: The account ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: historicalExperienceId
        in: path
        description: The historical experience ID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The request body.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceFieldValuesPostRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceFieldValuesPostRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceFieldValuesPostRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceFieldValuesPostRequest'
      responses:
        '201':
          description: The added historical experience field values.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFieldValuesPostResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFieldValuesPostResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFieldValuesPostResponse'
        '403':
          description: User is not authorized to update profile historical experience.
  ? /rp/api/v1/accounts/{accountId}/persons/{personId}/historical-experiences/{historicalExperienceId}/experience-fields/{experienceFieldId}
  : patch:
      tags:
      - PersonHistoricalExperienceFields
      summary: Update a historical experience field value for a person in an account
      description: 'Permissions

        Account: Write'
      operationId: PersonHistoricalExperienceFields_Patch
      parameters:
      - name: accountId
        in: path
        description: The account ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: historicalExperienceId
        in: path
        description: The historical experience ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: experienceFieldId
        in: path
        description: The experience field ID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The request body.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceFieldValueUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceFieldValueUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceFieldValueUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/HistoricalExperienceFieldValueUpdateRequest'
      responses:
        '200':
          description: The updated historical experience field value.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFieldValue'
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFieldValue'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalExperienceFieldValue'
        '400':
          description: The target experience field value not found.
        '403':
          description: User is not authorized to update profile historical experience.
    delete:
      tags:
      - PersonHistoricalExperienceFields
      summary: Delete a historical experience field value for a person in an account
      description: 'Permissions

        Account: Write'
      operationId: PersonHistoricalExperienceFields_Delete
      parameters:
      - name: accountId
        in: path
        description: The account ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: historicalExperienceId
        in: path
        description: The historical experience ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: experienceFieldId
        in: path
        description: The experience field ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The historical experience field value is deleted.
        '403':
          description: User is not authorized to update profile historical experience, or if the experience field value is not found
components:
  schemas:
    HistoricalExperienceFieldValueUpdateRequest:
      type: object
      properties:
        experienceFieldValueId:
          type:
          - string
          - 'null'
          format: uuid
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    HistoricalExperienceFieldValuesPostRequest:
      type: object
      properties:
        experienceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HistoricalExperienceFieldValueRequest'
      additionalProperties: false
    HistoricalExperienceFieldValueRequest:
      type: object
      properties:
        experienceFieldId:
          type: string
          format: uuid
        experienceFieldValueId:
          type:
          - string
          - 'null'
          format: uuid
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    HistoricalExperienceFieldValue:
      required:
      - fieldName
      - value
      type: object
      properties:
        experienceFieldId:
          type: string
          format: uuid
        experienceFieldValueId:
          type: string
          format: uuid
        fieldName:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    HistoricalExperienceFieldValuesPostResponse:
      type: object
      properties:
        experienceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HistoricalExperienceFieldValue'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
