openapi: 3.2.0
info:
  title: Bench Role Allocations API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: RoleAllocations
paths:
  /rp/api/v1/accounts/{accountId}/projects/{projectId}/roles/{roleId}/allocations:
    post:
      tags:
      - RoleAllocations
      summary: Allocates a person to a role on the given account and project
      description: 'A person cannot be allocated entirely inside a period of unavailability and cannot be allocated outside of their employment dates.


        For allocations that overlap a period of unavailability, the API will truncate or not set the date range that the person is unavailable.


        Examples: Unavaialble from 2020-01-11 to 2020-01-25, Allocation date from 2020-01-20 to 2020-03-31, will alocate the person from 2020-01-26 to 2020-03-31


        Unavaialble from 2020-01-11 to 2020-01-25, Allocation date from 2020-01-01 to 2020-03-31, will alocate the person from 2020-01-01 to 2020-01-10 AND 2020-01-26 to 2020-03-31

        Permissions

        Person: Read

        Role: Read

        Allocation: Write

        Private: Read'
      operationId: RoleAllocations_Post
      parameters:
      - name: accountId
        in: path
        description: The Account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: path
        description: The Project ID
        required: true
        schema:
          type: integer
          format: int64
      - name: roleId
        in: path
        description: The Role ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Request object containing the person, role, start and end date to allocate
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ProjectRoleAllocationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRoleAllocationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectRoleAllocationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProjectRoleAllocationRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
components:
  schemas:
    ProjectRoleAllocationRequest:
      type: object
      properties:
        personId:
          type: integer
          format: int64
          example: 1
        startDate:
          type: string
          format: date-time
          example: '2019-01-01'
        endDate:
          type: string
          format: date-time
          example: '2019-12-31'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
