openapi: 3.2.0
info:
  title: Bench Person Cert Attachments API
  description: 'Versioning


    The API is currently at version 1.0.'
  version: '1.0'
servers:
- url: https://bench.gobridgit.com
  description: Bridgit Bench production
security:
- {}
tags:
- name: PersonCertAttachments
paths:
  /rp/api/v1/accounts/{accountId}/persons/{personId}/certifications/{certId}/attachments:
    get:
      tags:
      - PersonCertAttachments
      summary: Get all attachments for a person's certification
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        PersonCerts: Read

        HourlyCerts: Read

        Private: Read'
      operationId: PersonCertAttachments_Query
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: certId
        in: path
        description: The certification ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: The offset for paging response
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        description: The amount of items in the response
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: state
        in: query
        description: The state of the attachment for filter
        schema:
          enum:
          - InProgress
          - Completed
          - Failed
          - All
          type: string
          default: Completed
      - name: creatorId
        in: query
        description: The ID of attachment creator for filter
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: 'Success: List of Attachments'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - PersonCertAttachments
      summary: Link an attachment to a person's certification
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        Private: Read

        PersonCerts: Write

        HourlyCerts: Write'
      operationId: PersonCertAttachments_Post
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: certId
        in: path
        description: The certification ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The request body for the linking
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCertAttachmentRequest'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
  /rp/api/v1/accounts/{accountId}/persons/{personId}/certifications/{certId}/attachments/{id}:
    get:
      tags:
      - PersonCertAttachments
      summary: Get an attachment by ID for a person's certification
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        PersonCerts: Read

        HourlyCerts: Read

        Private: Read'
      operationId: PersonCertAttachments_Get
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: certId
        in: path
        description: The certification ID
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: The attachment ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: 'Success: an attachment in response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
      - PersonCertAttachments
      summary: Unlink an attachment from a person's certification
      description: 'Permissions

        Person: Read

        HourlyProfile: Read

        Private: Read

        PersonCerts: Write

        HourlyCerts: Write'
      operationId: PersonCertAttachments_Delete
      parameters:
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: integer
          format: int32
      - name: personId
        in: path
        description: The person ID
        required: true
        schema:
          type: integer
          format: int64
      - name: certId
        in: path
        description: The certification ID
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: The attachment ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    PersonCertAttachmentRequest:
      type: object
      properties:
        attachmentId:
          type: integer
          format: int64
          example: 1
      additionalProperties: false
    AttachmentResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type:
          - string
          - 'null'
          example: document.txt
        size:
          type: integer
          format: int64
          example: 1024
        mimeType:
          type:
          - string
          - 'null'
          example: application/octet-stream
        isPrivate:
          type: boolean
          example: false
        binaryUrl:
          type:
          - string
          - 'null'
          example: https://bench.gobridgit.com/bin/attachments/accounts/1/persons/1/document.txt
        creatorId:
          type: integer
          format: int32
          example: 1
        createdOn:
          type: string
          format: date-time
          example: '2021-01-01T00:00:00Z'
        state:
          enum:
          - InProgress
          - Completed
          - Failed
          - All
          type: string
          example: InProgress
        certificationIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          example:
          - 1
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Standard Authorization header using the Bearer scheme
      scheme: bearer
      bearerFormat: JWT
